.bg{
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
}
.bg-top-left{
  z-index:1;
  width:55%;
  background:url(/images/ellipse-topleft.svg) no-repeat 0 -200px;
  background-size:cover;
}
.bg-bottom-right{
  right:0;
  bottom:0;
  z-index:1;
  width:55%;
  top:initial;
  left:initial;
  background:url(/images/ellipse-bottomright.svg) no-repeat 200px 300px;
  background-size:cover;
}
.bg-noise{
  z-index:9;
	background-repeat:repeat;
	background-image:url(/images/bg-noise.png);
}
.submenu{
  max-height:0;
  overflow:hidden;
  transition:all 0.3s ease-in-out;
}
.submenu.opened{
  max-height:200px;
}