.balanceButton{
  opacity:1;
  border-radius:8px;
  background: radial-gradient(174.47% 188.91% at 1.84% 0%, rgb(11, 82, 180) 0%, rgb(149, 189, 246) 100%), rgb(255, 238, 242);
}
.balanceButton:hover{
  opacity:0.8;
}